<?xml version="1.0" encoding="utf-8"?>
<!-- License: ThermoVision_JoeC\Properties\Lizenz.txt -->
<configuration>
  <startup>
    <compatibility xmlns="urn:schemas-microsoft-com:compatibility.v1">
      <application>
        <!-- Windows 10 compatibility -->
        <supportedOS Id="{8e0f7a12-bfb3-4fe8-b9a5-48fd50a15a9a}" />
      </application>
    </compatibility>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0" />
  </startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <probing privatePath="_dlls" />
    </assemblyBinding>
  </runtime>
  <appSettings>
    <add key="LoadLastFile" value="0" />
    <!-- Hardware Test
    <add key="AutoRead_tcs_from_folder" value="Drohne_MAVIC2" />
    <add key="AutoRead_tcs_from_folder" value="Seek_Compact_Camera_Webcam" />
    <add key="AutoRead_tcs_from_folder" value="TE_Q1_CameraTemp" />
    <add key="AutoRead_tcs_from_folder" value="TE_M1_CameraTemp" />
    <add key="ShowTabletWindow" value="1" />
    <add key="StartWebcamA" value="1" />
    <add key="DIYTicFixResolution_160x120" value="1" />
    <add key="DIYTicFixResolution_80x60" value="1" />
    
    <add key="AutoRead_TempSwitch_from_folder" value="TempSchalter" />
    <add key="AutoRead_tcs_from_folder" value="Seek_Compact_Camera" />
    -->
    <!-- Software Test
    <add key="AutoRead_tcs_from_folder" value="_Sim_Flir_80x60" />
    <add key="AutoRead_tcs_from_folder" value="_Sim_Flir_320x240" />
    <add key="ShowTabletWindowNotFullscreen" value="1" />
    -->
    <add key="ShowTabletWindow" value="0" />
    <add key="StartWebcamA" value="0" />
    <add key="DIYTicSerialSomulation" value="0" />
    <add key="ShowSplashScreeen" value="1" />
    <add key="ShowDevValues" value="0" />
    <add key="AllowTabletWindow" value="1" />
    <!--Remove for Release-->
    <add key="Extension_FLIR" value="1" />
    <add key="Extension_SEEK" value="1" />
    <add key="ClientSettingsProvider.ServiceUri" value="" />
  </appSettings>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" />
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400" />
      </providers>
    </roleManager>
  </system.web>
</configuration>